.travel_div{
    border:1px solid grey;
   
}
p{
    padding:10px;
}
nav{
   position: sticky;
    z-index: 99999;
    top:0;
}  
.movie_name{
      font-size: 25px;
    padding:5px 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 100%;
    display: inline-block;
    
}
.movie_name i{
    float:right;
   
}
h5 span{
    color:gold;
}
.page-header{
    border-width:thick;
    border-bottom: black;
}
.environment_li h4
{
    border-bottom: 1px solid white;
   
}
.environment_li{
    margin: 15px;
}

.modal-content
{
  margin-top: 100px;
}
.book
{
  cursor: pointer;
}
